@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--background: 218 14% 16%;
	--foreground: 219 14% 71%;
	--border: 218 4% 21%;
	--piece-light: #fafafa;
	--piece-dark: #1a1110;
	--light-cell: #f0d8b7;
	--dark-cell: #b48764;
	--active-light-cell: #c8c8c8;
	--active-dark-cell: #8d8d8d;
}
